.note-card {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #f8f9fa;
    transition: background-color 0.3s, transform 0.2s; 
    cursor: pointer; 
}

.note-card:hover {
    background-color: #e9ecef;
}

body {
    font-family: Arial, sans-serif;
}

.note-details {
    margin: 20px;
}

.note-title {
    font-size: 24px;
    font-weight: bold;
}

.note-timestamp {
    color: gray;
    font-size: 12px;
}

.note-content {
    margin-top: 20px;
    font-size: 16px;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

.icon-btn {
    color: #28a745; 
    cursor: pointer;
}