{% extends "notes/base.html" %}

{% block content %}

<h2>RxNotes</h2>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search notes" hx-get="{% url 'search_notes' %}"
        hx-trigger="keyup changed delay:500ms" hx-target="#notes-list" hx-include="[name='query']" name="query">


    <span class="input-group-text"><i class="bi bi-search"></i></span>
</div>

<!-- Notes List -->
<div id="notes-list">
    {% include 'notes/note_list.html' %}
</div>

{% endblock %}